/* No CSS reset, not really worth it for so few elements/styles */

/** Body + typography */

body {
    margin: 0 auto;
    padding: 1em 4em;
    font: 1em/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #010100;
    color: #373737;
    font-weight:300;
}

a{color:#aaa;-webkit-transition:color 0.1s linear;-moz-transition:color 0.1s linear;-o-transition:color 0.1s linear;} /* I ♥ anchor fades, so kill me */
a:hover{color:white;}

h1 {
    margin: 0;
    font-size: 5em;
}

header, footer {
    text-align: right;
    color: #ccc;
    text-transform: uppercase;
    font-size: 12px;
    clear:both;
}

article{width:100%;float:left;clear: both;}

/** Artist + Track */

#artist,#track {
    color:#333;
    display: block;
    margin: 2%;
    padding: .2em .4em;
    border-radius: 2px;
    background: lime;
    height: 100%;
    float:left;
    box-shadow: 0 0 10px lime;
    width: 40%;
}

#track {
    background: hotPink;
    box-shadow: 0 0 10px hotPink;
}

h1 .separator {
    display: none;
}

aside{
    text-transform: uppercase;
    color:#eee;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -webkit-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}